logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.idea/
.vscode/
assets/
storybook-auth/
kube/docker
node_modules/
.DS_Store
.env
.storybook-dist/
config.dev.json
npm-debug.log
package-lock.json
yarn-error.log
